<div>
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input
        matStartDate
        placeholder="Start date"
        (dateInput)="updateStart($event)"
        (dateChange)="updateStart($event)"
      />
      <input
        matEndDate
        placeholder="End date"
        (dateInput)="updateEnd($event)"
        (dateChange)="updateEnd($event)"
      />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Hotel</mat-label>
    <mat-select [(value)]="hotelSelected">
      @for (hotel of hotels; track hotel.id) {
      <mat-option [value]="hotel.id">{{ hotel.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Room Type</mat-label>
    <mat-select [(value)]="roomTypeSelected" (selectionChange)="updateRooms()">
      @for (type of roomTypes; track type) {
      <mat-option [value]="type">{{ type }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button
    [disabled]="!this.start || !this.end || this.hotelSelected == -1"
    mat-raised-button
    color="primary"
    (click)="search()"
  >
    Search
  </button>
  @for (room of trateRooms; track $index) {
  <button (click)="bookingRoom(room.id)">
    {{ room.id }} {{ room.type }} {{ room.roomNumber }}
  </button>
  }
</div>
