nav {
  background-color: #333;
  color: white;
  padding: 1em;
}

ul.nav {
  list-style: none;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a.nav-link,
a.nav-link:visited {
  color: white;
  text-decoration: none;
  transform: scale(1);
  transition: transform 0.3s ease;
}

a.nav-link:hover {
  font-weight: bold;
  text-decoration: underline;
  color: yellow;
  transition: transform 0.3s ease;
  transform: scale(1.5);
}

.active {
  font-weight: bold;
}

a.simple,
a.simple:visited {
  color: white;
  text-decoration: none;
}

@keyframes escalar {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
