<div class="container">
  <h2 style="text-align: center">Hotel List</h2>
  <mat-accordion>
    <mat-expansion-panel disabled="">
      <mat-expansion-panel-header class="header-text">
        <mat-panel-title>HOTEL</mat-panel-title>
        <mat-panel-description>Location</mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    @for(hotel of hotels; track hotel.id) {
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header class="header-text">
        <mat-panel-title> {{ hotel.id }}. {{ hotel.name }} </mat-panel-title>
        <mat-panel-description>
          {{ hotel.address.streetKind }} {{ hotel.address.streetName }} No.
          {{ hotel.address.number }}, {{ hotel.address.postCode }}
          {{ hotel.address.otherInfo }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div style="text-align: end; margin-bottom: 1rem">
        <button
          mat-raised-button
          (click)="goToHotelDetails(hotel.id)"
          style="
            font-size: medium;
            background-color: rgb(28, 197, 248);
            color: rgb(250, 250, 250);
          "
        >
          View hotel
        </button>
        <button
          mat-raised-button
          (click)="deleteHotel(hotel.id)"
          style="
            font-size: medium;
            background-color: rgb(223, 36, 36);
            color: rgb(250, 250, 250);
          "
        >
          <strong> Delete Hotel </strong>
        </button>
      </div>
      <table mat-table [dataSource]="hotel.rooms" class="mat-elevation-z8">
        <ng-container matColumnDef="roomNumber">
          <th class="header-text" mat-header-cell *matHeaderCellDef>
            Room Number
          </th>
          <td class="body-text" mat-cell *matCellDef="let room">
            {{ room.roomNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th class="header-text" mat-header-cell *matHeaderCellDef>Type</th>
          <td class="body-text" ce mat-cell *matCellDef="let room">
            {{ room.type }}
          </td>
        </ng-container>

        <ng-container matColumnDef="available">
          <th class="header-text" mat-header-cell *matHeaderCellDef>
            Available
          </th>
          <td class="body-text" mat-cell *matCellDef="let room">
            <mat-slide-toggle
              [checked]="room.available"
              (change)="
                toggleRoomAvailability(hotel.id!, room.id, !room.available)
              "
            ></mat-slide-toggle>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="['roomNumber', 'type', 'available']"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['roomNumber', 'type', 'available']"
        ></tr>
      </table>
    </mat-expansion-panel>
    }
  </mat-accordion>
</div>
