<div class="container">
  <mat-card>
    <mat-card-title class="flex text-center p-4">
      <strong class="text-5xl">Usuarios</strong>
    </mat-card-title>
    <mat-card-content>
      <div class="filter-container">
        <label for="filter">Filtrar por estado:</label>
        <select
          id="filter"
          [(ngModel)]="selectedStatus"
          (change)="filterUsers()"
        >
          <option value="All">Todos</option>
          <option value="NO_BOOKINGS">Sin reservas</option>
          <option value="WITH_ACTIVE_BOOKINGS">Con reservas activas</option>
          <option value="WITH_INACTIVE_BOOKINGS">Con reservas inactivas</option>
        </select>
      </div>
      <div class="mat-elevation-z8 demo-table table">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>
              <span class="text-3xl font-bold">ID</span>
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="text-2xl">
                {{ element.id }}
              </span>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              <span class="text-3xl font-bold">Name</span>
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="text-2xl">
                {{ element.name }}
              </span>
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>
              <span class="text-3xl font-bold">Email</span>
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="text-2xl">
                {{ element.email }}
              </span>
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef>
              <span class="text-3xl font-bold">Rol</span>
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="text-2xl">
                {{ element.rol }}
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="userDetails(row.id)"
          ></tr>
        </table>
      </div>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
